body {
    background-image:url('/images/image_arriere_plan_page_connexion.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    margin: 0;
    border: none;
    font-family: Arial, sans-serif;
    height: 100%;

}nav {
    backdrop-filter: blur(20px);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav img {
    height: 80%;
    margin-right: 20px;
}
.ligne {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    
}
.colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
   
    padding: 10px;
    
}
.colonne:first-child {
    flex: 0 0 50%;
    max-width: 50%;
}